body{background-color: rgba(236, 161, 22, 0.63);
color: rgba(0, 0, 0, 0.836);
width: 500;
margin-right:auto;
margin-left: auto;
}
.btn{padding: 90px;
    width: 500px;
    margin:0;
    font-size: 2.5cm;
    background-color: rgb(155, 236, 247);    
}
.loop{
    margin-top: -40cm;
}

p{color: green;}
.next {
    display: inline-block;
    padding: 0.8em 3em;
    background-color: #e3364a; /* 背景色 */
    box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    position: relative;
  }
  /* クリック時 */
button:active {
    box-shadow: none;
    transform: translateY(5px);
  }




